<div class="container mx-auto">
  <div class="row mt-3">
    <div class="col-md-12 mx-auto">
      <label class="h4 bg-light pr-3 pl-3">会員一覧</label>
      <table class="table table-secondary table-striped mt-3">
        <thead>
          <tr class="text-center">
            <th scope="col" style="width: auto">会員ID</th>
            <th scope="col" style="width: auto">氏名</th>
            <th scope="col" style="width: auto">メールアドレス</th>
            <th scope="col" style="width: auto%">ステータス</th>
          </tr>
        </thead>
        <tbody class="table-light">
          <% @members.each do |member| %>
            <tr class="text-center">
              <!--会員ID-->
              <td><%= member.id %></td>
              <!--会員名-->
              <td>
                <%= link_to "#{member.last_name} #{member.first_name}", admin_member_path(member) %>
              </td>
              <!--メールアドレス-->
              <td><%= member.email %></td>
              <!--会員ステータス-->
              <td>
                <% if member.is_deleted == false %>
                  <span class="text-success">有効</span>
                <% elsif %>
                  <span>退会</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>