<div class="container">
  <div class="row mt-4">
    <div class="col-12">
     <h1 class="display-3 font-weight-bold text-center">About</h1>
    </div>
    <div class="col-10 offset-1 mt-4">
      <h4 class="text-center">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方まで召し上がりいただけるよう、<br>
      様々なバリエーションを用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
      ぜひご注文ください。
      </h4>
    </div>
  </div>
  <div>
    <div class="col-6 offset-3 mt-3" style="background-image: url('assets/okasi.jpg'); height: 280px;">
  </div>
</div>

