<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          (商品イメージがはいります)
          <%= item.name %>
          <%= item.number_to_currency(item.price) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
