<div class='max-width text-center', style= 'height: 500px;'>
  <div class='row' style= 'height: 500px;'>
    <div class= 'col-12' style= 'height: 250px;'>
      <h1 style= 'margin: 250px;'>ご注文ありがとうございました！</h1>
    </div>
  </div>
</div>