<% if obj.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(obj.errors.count, "error") %> 件のエラー</h4>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>